&i2c0 {
    adxl345@53 {
		compatible = "adi,adxl345";
		label = "ADXL345";
		reg = <0x53>;
	};
};

&i2c0 {
    bq274xx@55 {
		compatible = "ti,bq274xx";
		label = "TIBQ274XX";
		reg = <0x55>;
		design-voltage = < 4200 >;
		design-capacity = < 1100 >;
		taper-current = < 100 >;
		terminate-voltage = < 3700 >;
	};
};